body{
    width: 100%;
    max-width: 1680px;
    margin: 0 auto; 
    padding: 0;
}
header{
    /* width: 100%; */
    /* max-width: 1280px; */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top:0;
    background-color: #fff;
    z-index:2;
    box-shadow: 0 0 10px 1px #333;
}
.logo{
    /* width: 9%; */
    margin:0 10px;
    padding-top:5px;
    order:-1;
    
}
.logo img{
    width: 100px;
    height:auto;
    
}
.menu{
    margin:0 10px;
}
ul{
    display:flex;
    list-style: none;
    padding: 0;
    order:0;
}
li{
    padding:10px;
}
a{
    text-decoration: none;
    color:black;
    
}
.search{
    margin:0 10px;
}
.language{
    margin:0 10px;
}
.language button{
    width: 75px;;
}
.log-in{
    margin:0 10px;
    /* width: 3%; */
    padding-top:5px;
}
.log-in img{
    width: 50px;
    height:auto;
    
}
main{
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin:0 30px; */
    
    /* padding:0 10px; */
}
.banner{
    /* width: 100%; */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 4% 0 4%;
}
.banner-headline{
  /* padding:5%; */
}
.banner-headline h1{
    font-size: 95px;
    letter-spacing:1px;
    margin:0px;
    line-height: 1.2em
    width: 768px
    
}
.banner-headline h2{
    font-weight:normal;
    margin-top:10px;
    padding:10px;
    
}

.banner-img-btn{
    display:flex
    align-items: center;
    padding:5% 0;
    

}
.banner-video{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.banner-img video{
    padding: 0 20%;
    width: 20%;
    height:auto;
}
.img-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.img-btn ul{
    display: flex;
    flex-wrap: wrap;

}
.banner-btn{
  background-color: white;
  padding:5px 20px;
  border-radius: 4px;
}
.banner-btn a{
    color: rgb(36, 124, 206);
    font-weight: 20;
    /* padding:30px; */
}
.banner-btn h2{
    /* margin:0px; */
}
.selector{
    /* width: 100%; */
    overflow: scroll hidden;
    background-color:rgb(241, 241, 241);
    padding:2% 5% 5% 5%;
    position: relative;
}
.selector p{
    /* padding: 0 60px; */
}
.selector ul{
    display:flex;
    /* flex-basis:auto; */
    justify-content: space-between;
    scroll-padding: 30px;
    overflow: scroll hidden;
}
.selector li{
    padding:0;
}
.selector-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    line-height: 40px;
    white-space: nowrap; 
}
.right-up {

    color: #333;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top:88px;
    right:30px;
    border-image: radial-gradient(circle, rgb(204, 204, 204), rgb(224, 224, 224)) 2;
    box-shadow: 0 0 5px rgba(214, 214, 214, 0.8);
    cursor: pointer;
    place-self: center;
    z-index: 1;
   
}
.right-up a{
    font-size: 20px;
}
.selector-result{
    /* padding:0 1.5%; */
    display: flex;
    justify-content: space-between;
    scroll-padding: 20px
    overflow: scroll hidden;
    
    

}
.result-box{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:20px;
    position: relative;
    justify-content: space-between;
    height:200px;
    width: 280px;;
}
.result-box h4{
    margin: 0;

}
.result-box p{
   padding:0;
   overflow: hidden;
    word-break: break-word;
}
.result-icon{
    width: 15%;
    height:auto;
    position: absolute;
    left:10px;
    bottom:10px;
    
}
.right {

    
    color: #333;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    right: 30px;
    border-image: radial-gradient(circle, rgb(204, 204, 204), rgb(224, 224, 224)) 2;
    box-shadow: 0 0 5px rgba(214, 214, 214, 0.8);
    cursor: pointer;
    place-self: center;
    z-index: 1;
}
.right a{
    font-size: 20px;
}
.introduction{
    padding:2% 5% 5% 5%;
    background-color: #fff;
    /* width: 100%; */
}
.introduction h1{
    text-align: center;
    margin-top:30px;
}

.container{
    padding:20px 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    gap: 30px; 
}

.product{
    border: 1px solid#ccc;
    border-radius: 10px;
    padding:20px;
    text-align: center;

}
.product-icon{
    width: 20%;
}
.activity-intro{
    
    /* width: 100%; */
    /* padding: 100px; */
}
.img-text-intro,.img-text-intro-1{
    display: flex;
    padding-bottom: 5%;
    justify-content: space-between;
    align-items: center;
}
.text-intro{
    margin: 5% 0;

}
.text-intro-1{
    margin: 5% 0;
    width: 60%;
    padding-left:40px;
}

.big-img{

    width: 45%;
    max-width: 100%;
    height:auto;
    border-radius: 20px;
    overflow: none;
}
.activity-intro{
    padding:0 5%;
}
.text-intro h2{
    display: flex;
}
.text-intro img{
    width: 100px;
    height:auto;
}
.activity-btn{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    line-height: 40px;
}
.activity-btn a{
    color: rgb(36, 124, 206);
    font-weight: 20;
}
footer{
    padding: 0 5%;
}
.footer-info{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:20px 20px;

}
.text-info{
    display:flex;
    justify-content: space-between;
    width: 70%;
    font-size:15px;
    line-height: 1.8rem;
    color:rgb(134, 134, 134);
}
.product-recap{
    display:flex;
    padding:40px 0;
    align-items: center;
}
.footer-logo{
    width: 10%;
    margin-right: 30px;
}
.footer-img{
    
    width: 100%;
    height:auto;
    
}
.product-name{
 color: rgb(134, 134, 134);
 
}
@media screen and (min-width:500px) and (max-width:1107px){
   
    
    .menu ul li:nth-child(6)::before{
        content: "更多內容▼";
    }
}

@media screen and (min-width:500px) and (max-width:1107px){
    .menu ul li:nth-child(6){
            display:none;}

    form{
        white-space: nowrap;
    }

    .menu ul li:nth-child(5)::after{
        content: "更多內容▼";
        padding-left: 20px;
        
    }
}
@media screen and (min-width:967px) and (max-width:1062px){
    .menu ul li:nth-child(5){
            display:none;
        }
        /* form{
            white-space: nowrap;
        } */
        .menu ul li:nth-child(4)::after{
            content: "更多內容▼";
            padding-left: 20px;
            
        }
}
@media screen and (min-width:855px) and (max-width:966px){
        .menu ul li:nth-child(5){
            display:none;
        }
        .menu ul li:nth-child(4){
            display:none;
        }
        /* form{
            white-space: nowrap;
        } */
        .menu ul li:nth-child(3)::after{
            content: "更多內容▼";
            padding-left: 20px;
            
        }
}
@media screen and (min-width:500px) and (max-width:890px){
    .menu ul li{
        display:none;
    }
    .body{
        position: relative;
    }
    .menu ul::after{
        content: ""; 
        background-image: url('./menu-icon.svg'); 
        background-size: cover;
        width: 20px;
        height: 20px;
        display: block; 
    
    }
    .menu{
        order:-1;
    }
    .logo{
        order: 0;
    }
}
@media screen and (max-width:510px) {
    form{
        display:none;
    }
    .search::before{
        content: ""; 
        background-image: url('./magnifier.png'); 
        background-size: cover;
        width: 30px;
        height: 30px;
        display: block; 
        
    }
}

@media screen and (max-width:1127px){
    .banner h1{
        width: 768px;
    }
}
@media screen and (max-width:1176px){
    .banner {
        display:block;
       
    }
    .banner-headline{
        vertical-align: middle;
    
    }
}
@media screen and (max-width:1455px){
    .img-btn{
        display:block;

    }
    img.btn ul{
        flex-wrap: wrap;
    }
}
@media screen and (min-width:1438){
    .selector{
        display: flex;
        flex-wrap: wrap;
    }
    .selector-btn{
        display:inline-block;
        white-space: nowrap; 
        
    }
    .selector button a{
        white-space: nowrap; 
    }
    
    
}
@media screen and (min-width:500px) and (max-width:1438px){
   
    .selector-btn{
        margin-right:10px;
    }
    .selector-btn::after{
        position: sticky;
        top:85px;
        right:60px;
    }
    
}
@media screen and (min-width:1159px) and (max-width:1489px){
    .selector-result{
        display:flex;
        justify-content: center;
    }
    .result-box:nth-child(-n+3) {
        margin-right: 20px;
    }
}
@media screen and (min-width:772px) and (max-width:1159px){
    .selector-result{
        display:flex;
        justify-content: center;
    }
    .result-box:nth-child(4) {
        display:none;
    }
    .result-box:nth-child(-n+2) {
        margin-right: 15px;
    }
}
@media screen and (max-width:772px){
    .selector-result{
        display:flex;
        justify-content: center;
    }
    .result-box:nth-child(3) {
        display:none;
    }
    .result-box:nth-child(2) {
        display:none;
    }
    .result-box:nth-child(1) {
        margin-right: 15px;
    }
}
@media screen and (min-width:500px) and (max-width:838px){
    .container{
        padding:10px 25px;
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto auto; 
        gap: 10px; 
    }
}
@media screen and (max-width:500px){
    .container{
        display:block;
        
    }
    .product{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:500px){
    .img-text-intro,.img-text-intro-1{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .big-img{
        width: 100%;
    }
    .img-text-intro-1 .text-intro{
        order:2;
    }
}
@media screen and (min-width:500px) and (max-width:1104px){
    .text-info{
        display: block;
    }
    .info-content{
        margin-bottom: 60px;
        line-height: 1rem;
    }
    .info-content:nth-child(3){
        margin-bottom:0px;
    }
}
@media screen and (min-width:500px) and (max-width:854px){
    .product-recap, .product-name{
        display: block;
    }
}
